html{overflow-y: scroll;}
*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; }
body{font-family:Arial, Helvetica, sans-serif;}
img{border: 0; }
.fl{float:left;}
.cf:after{clear: both; content: ''; display: block;}
#wrap{ margin: 0 auto; }
h2{display:  none;}

.login_box{clear:both;background:#ffffff; width:400px;  border:2px solid #0c78c5;height:130px;margin-left:115px; margin-right:115px; }

	.login_img{float:left; width:100px; background:#ffffff;margin-right: 10px;}
	.login_img>img{width: 80px; height: 80px;margin:15px;}
	
	/* 로그인 탑 */
	.login_top{float:left; width:280px;  }
	.login_top ul{float:left; width:280px;  background:#ffffff; }
	.login_top ul li.login{width:190px; height:40px; border:1px solid #222222; background:#ffffff;  box-sizing: border-box; margin-top: 20px;}
	.login_top ul li.password{width:190px; height:40px;  border:1px solid #222222; background:#ffffff; box-sizing: border-box; margin-top: 10px; }
	.login_top ul li.find{float:left; margin-right:10px; }
	.check_box{float: left; margin-bottom: 20px;}
	.check_box input{clear: both;}
	.check_box label{font-size: 15px;}
	.check_box label span{color: #0c78c5;}
	.check_box label strong{color:#ff3300;}
	.login_top ul li.find a{color:#111111;}
	.login_top ul li img{float:left; width:20px; height:20px; padding:10px; }
	.login_top ul li>input{float:left; width:135px; height:30px; margin: 5px; border:none; outline: none; font-size: 20px;}
	.login_top>.button>button {display: block; margin: 0 auto; text-align:center; width:90px; height:80px; font-size: 17px; text-shadow: none; line-height: 60px;  color: #ffffff;   font-weight: bold;background:  url(../images/s_menu1.png) center no-repeat; background-size:cover; background-color: #ffffff; cursor: pointer;  position: relative; top:-87px; right: -100px;}
	.login_top>.button>button:hover{color:#ffff00;  }
	.guide{color: #cccccc;}