html{overflow-y: scroll;}
*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; }
body{font-family:  '맑은 고딕', '돋움',  sans-serif;}
img{border: 0; }



.cf:after{clear: both; content: ''; display: block;}
#wrap{ margin: 0 auto; }
header{ }
section{height: 1500px; /* background:#999999; */ }





.location{float: right; margin-top: 120px; width: 300px; margin-right: -690px; height: 60px;  position: relative;right: 50% ;}
.location ul{width: 243px; margin: 0 auto}
.location li{float:left; }
.location a{display: block; float:left;  margin-top: 35px; color:#333333; font-weight: bold;}

.location li.first{ background: url(../../main/images/home3.png)  no-repeat 2px 3px; background-color:#e8f9f7;     background-position: 0px  39px; padding-left:20px; line-height: 22px;}


/* 콘텐츠 */
#contents_wrap{clear: both; width: 1420px; /* height: 850px; */height:1500px; margin: 0 auto; }
#sub_left{float: left; width: 270px;   }
.side_menu{width:270px;   margin-top: 20px;box-sizing: border-box; }
#sub_right{float: left; width: 1150px;     }
.introduce{margin: 50px 0px 10px 25px; float: right; width:1125px; height:1359px; }
.introduce a{display:  block; background: rgba(12,120,197,.9); color: #ffffff; text-align:  center; height: 40px; line-height: 40px; margin-top: 232px; font-size: 20px;}
.main_intro{float: left; width:1125px; height:665px;  background:url(../../main/images/main_intro.jpg) no-repeat center; background-size:contain;margin-bottom: 4.5px; }
.main_intro img{margin-top:20px; margin-left: 20px;}
.main_intro p strong{display: block;margin-top:20px; margin-bottom: 10px; font-size: 20px; color: #0c78c5;}
.main_intro p{ margin-left: 20px;}
.sb_intro{float: left; width:372px; height:275px;  background:url(../../main/images/sb_intro.jpg) no-repeat center; background-size:contain;margin-right:4.5px; margin-bottom: 4.5px;}
.gp_intro{float: left; width:372px; height:275px;  background:url(../../main/images/gp_intro.jpg) no-repeat center; background-size:contain; margin-right:4.5px; margin-bottom: 4.5px;}
.dy_intro{float: left; width:372px; height:275px;  background:url(../../main/images/dy_intro.jpg) no-repeat center; background-size:contain; margin-bottom: 4.5px;}
.dd_intro{float: left; width:372px; height:275px;  background:url(../../main/images/dd_intro.jpg) no-repeat center; background-size:contain; margin-right:4.5px;}
.cd_intro{float: left; width:372px; height:275px;  background:url(../../main/images/cd_intro.jpg) no-repeat center; background-size:contain; margin-right:4.5px;}
.bg_intro{float: left; width:372px; height:275px;  background:url(../../main/images/bg_intro.jpg) no-repeat center; background-size:contain; }

	





	
	