html{overflow-y: scroll;}
*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; }
body{font-family:  '맑은 고딕', '돋움',  sans-serif;}
img{border: 0; }

/* body{ background:url(../sub1.png)no-repeat center top;} */
.cf:after{clear: both; content: ''; display: block;}
#wrap{ margin: 0 auto; }
/* 메뉴 */



 .menu_title{width: 718px;}
/* 콘텐츠헤더 */
.location{float:right; margin-top:120px; margin-right: 100px;  width: 700px; height: 60px; }
.location ul{width: 328px; margin: 0 auto}
.location li{float:left; }
.location a{display: block; float:left;  margin-top: 35px; color:#333333; font-weight: bold;}
.location li.first{ background: url(../../main/images/home3.png)  no-repeat 2px 3px; background-color:#e8f9f7; background-position: 0px  39px; padding-left:20px; line-height: 22px;}

/* 사이드 메뉴바 */

#sub_left{float: left; width: 270px;  }
.side_menu{width:270px; margin-bottom: 10px; margin-top: 20px;box-sizing: border-box; }
.s_menu_list{width:270px;border-right: 2px solid #e6e6e6; border-left: 2px solid #e6e6e6;box-sizing: border-box;}
.s_menu_list a{text-indent: 10px;color:#333333;display: block; width: 266px; height: 50px;  font-size: 17px;border-bottom: 2px solid #e6e6e6;padding: 1px; line-height: 50px;}
.s_menu_list a:hover{ background: url(../../main/images/icon_snb.png) 240px center no-repeat;background-color: #e6e6e6; color:#0d55a2;font-weight: bold; }

/* 콘텐츠 */
#contents_wrap{clear: both; width: 1420px; /* height: 850px; */ margin: 0 auto; }


#sub_right{float: left; width: 1150px;  }
 .guide_box{margin-left: 20px; margin-right: 20px; float: right; width:1110px; height:80px; }
.mlib_guide{width:1110px;    display: block; background: #e1f2fe; color: #006cb8; border: 1px solid #b7d5ea;}
.mlib_guide li{list-style: disc; margin-left: 50px; margin-right: 50px;font-size: 17px; line-height: 160%; margin-bottom: 5px;}
.mlib_guide ul{margin-top: 20px; margin-bottom: 20px;}
	
 
 .notice_box{margin: 20px;  float: right; width:1110px; }
 .seats_table {margin-left : 20px;  float: right; width:1110px; height:200px; font-size: 17px;}
 table { border-spacing: 0px; border-collapse: separate;}
 thead{ display: table-header-group; vertical-align: middle; border-color: inherit;}
 thead th{padding: 5px; background: #f5f5f5;color: #006cb8;text-align: center;word-break: break-all; border: 1px solid #999999; border-right:none;}
 thead th:first-child{ border-left:none; padding-left:1px;}
	tbody{margin-left: 5px;padding-left:1px;}

tbody th {border: 1px solid #999999;background: #fafafa; font-weight: bold;border-top: none; border-left:none; border-right: none; padding: 10px;text-align: center; font-size: 15px;}
tbody td{ border: 1px solid #999999; border-top: none;border-right:none;padding: 10px; text-align: center;font-size: 15px;}

  .mlib_title{width:1110px; height:60px; background: #ffffff;  font-size: 22px;    background: url(../../main/images/icon_st.gif) 15px center no-repeat; text-indent: 40px; line-height: 60px; color: #006cb8; font-weight: bold;}
  .mlib_title_im{width:1110px; height:60px; background: #ffffff;  font-size: 22px;    background: url(../../main/images/icon_st.gif) 15px center no-repeat; text-indent: 40px; line-height: 60px; color: #006cb8; font-weight: bold;}
 .mlib_title_im a{display: block;float: right; color: #333333; height: 60px; width: 110px;  vertical-align: top;     background: url(../../main/images/icon_more.gif) right  no-repeat; font-size: 17px; margin-right: 10px;}
 .tab_text{font-size: 20px;   margin-top: 15px; }
.tab_text li{margin-left:20px;font-size: 18px;}
.tab_text li a{padding-left: 40px;display: inline-block;color: #333333; width:700px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis; line-height: 18px;     background: url(../../main/images/sicon_list01.gif)  20px center  no-repeat;}
.tab_text li a:hover{text-decoration:underline;}
.btn_box{margin-left: 20px; margin-right: 20px;  float: right;width:1110px; height: 60px ;margin-bottom: 100px;}
.seats_btn{margin: 0 auto; width:480px; margin-bottom: 100px; }
.seats_btn a{display: block; float: left;margin: 0px auto; text-align:center; width:230px; height: 60px; font-size: 17px; text-shadow: none; line-height: 60px; box-shadow: 0 2px 4px rgb(0 0 0 / 15%); color: #ffffff; background: url(../../main/images/s_menu1.png) center no-repeat; border-radius: 30px; font-weight: bold;}
.seats_btn a.first{margin-right: 20px;}
.seats_btn a:hover{color:#ffff00;}

 




 
 
 
 
 
 
 
 
 