*{margin:0; padding:0; }
ul,li {list-style:none;}
html{overflow-y: scroll;}
*{margin: 0; padding: 0;}
ul, li{list-style: none;}
button{border: 0;}
a{text-decoration: none; }
body{font-family:  '맑은 고딕', '돋움',  sans-serif;}
img{border: 0; }

/* body{ background:url(../sub1.png)no-repeat center top;} */
.cf:after{clear: both; content: ''; display: block;}
#wrap{ margin: 0 auto; }
/* 메뉴 */



 
/* 콘텐츠헤더 */
.menu_title{width: 600px;}
.location{float:right; margin-top:120px; margin-right: 60px;  width: 700px; height: 60px; }
.location ul{width: 250px; margin: 0 auto}
.location li{float:left; }
.location a{display: block; float:left;  margin-top: 35px; color:#333333; font-weight: bold;}
.location li.first{ background: url(../../main/images/home3.png)  no-repeat 2px 3px; background-color:#e8f9f7; background-position: 0px  39px; padding-left:20px; line-height: 22px;}
/* 사이드 메뉴바 */

#sub_left{float: left; width: 270px;  }
.side_menu{width:270px; margin-bottom: 10px; margin-top: 20px;box-sizing: border-box; }
.s_menu_list{width:270px;border-right: 2px solid #e6e6e6; border-left: 2px solid #e6e6e6;box-sizing: border-box;}
.s_menu_list a{text-indent: 10px;color:#333333;display: block; width: 266px; height: 50px;  font-size: 17px;border-bottom: 2px solid #e6e6e6;padding: 1px; line-height: 50px;}
.s_menu_list a:hover{ background: url(../../main/images/icon_snb.png) 240px center no-repeat;background-color: #e6e6e6; color:#0d55a2;font-weight: bold; }

/* 콘텐츠 */
#contents_wrap{clear: both; width: 1420px; /* height: 850px; */ margin: 0 auto; }


#sub_right{float: left; width: 1150px;  }
 .guide_box{margin-left: 115px; margin-right: 115px;  width:900px;  }
.mlib_guide{width:900px;    display: block; background: #e1f2fe; color: #006cb8; border: 1px solid #b7d5ea; margin-top: 10px; }
.mlib_guide li{list-style: disc; margin-left: 50px; margin-right: 50px;font-size: 17px; line-height: 160%; margin-bottom: 5px; margin-top: 20px;}
.white_box{background: #ffffff; margin-bottom: 20px; margin-left: 20px; margin-right: 20px; padding-top:10px ;padding-bottom: 10px; color: #333333;font-size: 17px;}
.white_box input{margin-left: 30px; color: #333333; }
.white_box label{color: #333333;  display: inline-block;font-size: 17px;margin-top: 5px; }
.white_box button{margin-left: 10px; padding: 8px 20px 8px 20px; display: inline-block;   border-color: #006cb8; color: #ffffff; background: #006cb8;   vertical-align: middle;  box-sizing: border-box;     border-radius: 10px; font-size: 18px; cursor: pointer;}
.white_box button:hover {  color: #ffffff;   text-decoration: none; background: #005d9f;}
.mlib_guide ul{margin-top: 5px; margin-bottom: 5px;}
.last{margin-bottom: 70px;}
 


  .mlib_title{clear:both; margin-top:50px; margin-left:115px;width:995px; height:60px; background: #ffffff;  font-size: 22px;    background: url(../../main/images/icon_st.gif) 15px center no-repeat; text-indent: 40px; line-height: 60px; color: #006cb8; font-weight: bold;}
.login_box{clear:both;background:#ffffff; width:900px;  border:2px solid #0c78c5;height:625px;margin-left:115px; margin-right:115px;margin-bottom: 115px; }
	.guide{color: #cccccc;}

	
	

	
/* 쪽지 보내기(message_form.php) */
#message_box { position: relative; width: 800px; margin: 0 auto; }
#message_box h3 { margin-top: 30px;	padding: 10px 10px 25px 10px; border-bottom: 2px solid #dddddd;font-size: 20px; }
#write_msg { padding: 0 20px; font-size: 18px; }
#write_msg span { display: inline-block; }
#write_msg .col1 { width: 150px; font-weight: bold;}
#write_msg li {	padding: 12px; border-bottom: solid 1px #dddddd; }
#write_msg input { width: 500px; height: 25px; }
#write_msg textarea { width: 500px;	height: 150px; }
#write_msg #text_area {	position: relative;	height: 158px; }
#write_msg #text_area .col1 { position: absolute; top: 10px; }
#write_msg #text_area .col2 { position: absolute; left: 166px; }
#write_msg button {	margin: 15px 0 30px 580px; 	padding: 5px 23px; cursor: pointer; background:#006cb8; color: #ffffff;  border-radius: 8px;}
#write_msg button {	margin: 15px 0 30px 580px; 	padding: 5px 23px; cursor: pointer; background:#006cb8; color: #ffffff;  border-radius: 8px; font-size: 18px;}
#write_msg button:hover{background:#004e85;}
/* 수신/송신 쪽지함(message_form.php) */
#message li { padding: 9px; border-bottom: solid 1px #dddddd; }

#message{font-size: 16px; color: #333333; }
#message li:nth-child(1) { font-weight: bold;color: #4e5056; background:#f1f1f1;}
#message span {	display: inline-block; text-align: center; }
#message .title { font-weight: bold; }
#message .col1 { width: 80px; }
#message .col2 { width: 370px; text-align: left; }
#message .col2 a{display: block;color: #0d55a2;font-weight: bold; width:370px; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
#message .col3 { width: 155px; }
#message .col3 a{ width: 155px;  white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
#message .col4 { width: 155px; }
#page_num {	text-align: center;	margin: 30px 0 }
#page_num li { display: inline; }
#page_num li a{ color:  #999999;}
#page_num li a:hover{ color:  #222222;}
#page_num li b{ font-weight: bold; color: #004e85;}
#message_box .top_buttons  { text-align: right; margin: 20px 0 20px 0; }
#message_box .top_buttons li { display: inline; margin-right: 20px; }
#message_box .top_buttons a:link { text-decoration: underline; color: #333333; font-weight: bold; }
#message_box .top_buttons a:visited { text-decoration: underline; color: #666666; font-weight: bold; }
#message_box .buttons { text-align: right; margin: 20px 0 40px 0; }
#message_box .buttons li { display: inline; }
#message_box .buttons button { padding: 5px 10px; cursor: pointer;font-size: 15px;	padding: 5px 23px; cursor: pointer; background:#006cb8; color: #ffffff;  border-radius: 8px; }
#message_box .buttons button:hover{background:#004e85;}
/* 쪽지함 보기(view_msg.php) */
#message_box {padding:0px 50px ; width: 800px; margin: 0 auto; border:2px solid #0c78c5; margin-bottom:115px;}
#message_box .title { margin-top: 30px; padding: 10px; border-bottom: solid 2px #516e7f; font-size: 20px; }
#view_content li:nth-child(1) {	padding: 15px; border-bottom: solid 1px #aaaaaa; }
#view_content .col2 { float: right; }
#view_content li:nth-child(2) {	padding: 15px 15px 80px 15px; border-bottom: solid 1px #cccccc; }
#view_content li:nth-child(3) button { padding: 5px 20px; margin: 15px 0 40px 720px; cursor: pointer; }



 
 
 
 
 
 
 
 
 